.css-1gwrruu-MuiPaper-root-MuiCard-root {
  box-shadow: -1px 8px 13px 6px rgb(0 0 0 / 20%),
    8px 7px 20px 20px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%) !important;
}
.idDiv{
    top: 3rem;
    right: 1rem;
    text-decoration-style: double;
    font-style: italic;
    font-weight: 900;
}
.card-type{
  border: 2px solid;
  border-radius: 17px;
  padding: 0.2rem;
  padding-bottom: 0.5rem;
  font-weight: 900;
}