
.stat-para{
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
}
.detail-box-main{
    border:none !important
}
.stat-box input[type="range"]::-webkit-slider-thumb{
    visibility: hidden;
}
.stat-box input[type="range"]::-moz-range-thumb{
    visibility: hidden;
}
.poke-detail-svg{
    width: 20rem;
}
@media (max-width:768px){
    .detail-box{
        flex-direction: column;
    }
    .poke-detail-svg{
        max-width: 12rem;
    }
}
@media (max-width:425px){
    .detail-box-main{
        max-width: 20rem;
    }
    .stat-name-para{
       margin-top: 0 !important
    }
    .stat-para{
        margin-top: 0 !important;
        margin-right: 0.5rem !important;
        margin-left: 0.5rem !important;
    }
}